<h1>All my flats</h1>
<p><%= link_to "Add a flat", new_flat_path %></p>

<div class="container">
  <% @flats.each do |flat| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.address %></p>
      </div>
    </div>
  <% end %>
</div>
